
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="
    layout.css">
    <title>Document</title>
</head>
<body>

<header>
    <nav>
        <ul>
        <li>Header</li>
        </ul>

    </nav>
</header>

<main>
<aside>
    <div>Aside</div>

</aside>


<article>
    <div>Article</div>
    <img src="./images/images-removebg-preview.png" alt=""><img src="./images/download__1_-removebg-preview.png" alt=""><img src="./images/download-removebg-preview.png" alt="">



</article>

</main>

<footer>
    <div>Footer</div>
</footer>

    
</body>
</html>